body {
    background-color: lightblue;
    font-family: sans-serif;
}

#surface {
    width: 1500px;
    height: 800px;
    position: relative;
    margin: auto;   /* center horizontally within parent */
}

.chooser {
    font-size: x-large;
    width: fit-content;
    height: fit-content;
    text-align: center;

    /* https://www.w3schools.com/howto/howto_css_center-vertical.asp */
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bid {
    font-size: large;
    width: 90px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}

.card {
    position: absolute;
    border: 1px solid gray;
    border-radius: 10px;
}

.active {
    cursor: pointer;
}
