body {
    background-color: lightblue;
    font-family: sans-serif;
}

#surface {
    width: 95vw;
    height: 95vh;
    position: relative;
    margin: auto; /* center horizontally within parent */
}

#score {
    position: absolute;
    left: 2%;
    top: 2%;
    text-align: end;
    font-size: small;
}

    #score th {
        padding-left: 5px;
        padding-right: 5px;
    }

    #score td {
        padding-left: 5px;
        padding-right: 5px;
    }

#title {
    position: absolute;
    left: 2%;
    top: 98%;
    text-align: end;
    color: lightslategray;
    font-size: small;
}

.chooser {
    display: none; /* hidden when created */
    font-size: large;
    width: fit-content;
    height: fit-content;
    text-align: center;
    /* https://www.w3schools.com/howto/howto_css_center-vertical.asp */
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bid {
    width: 80px;
    font-size: medium;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 10px;
}

.bid-static {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.♦ {
    color: red;
    font-size: large;
}

.♥ {
    color: red;
    font-size: large;
}

.♣ {
    color: black;
    font-size: large;
}

.♠ {
    color: black;
    font-size: large;
}

.card {
    position: absolute;
    border: 1px solid gray;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.active {
    cursor: pointer;
}

.banner {
    font-size: x-large;
    width: fit-content;
    height: fit-content;
    text-align: center;
    cursor: pointer;
    background-color: lightcoral;
    padding: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
